<h1>welome admin </h1>
 <h1>Listing ipmembers</h1>
 

 <%= link_to 'click to add Ip members',  new_ipcommittee_path %> |
 
  <%= current_user.email %> |
<%= link_to 'Sign out', destroy_user_session_path, :method => :delete  %> |
<%= link_to 'Show', show_path%> |
