<h1> hi ip member </h1>
<%= link_to 'Sign out',destroy_user_session_path, :method => :delete  %>
<%= link_to 'view_all_ip-ssets', view_assets_path %>
<%= link_to 'approve', validate_ips_path %>
<%= link_to 'upload ip', upload_ip_path %>
